@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');

:root {
  --background-color: snow;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  padding: 10px;
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  text-transform: uppercase;
  font-style: italic;
}

.board {
  display: flex;
  flex-direction: column;
  gap: var(--board-gap);
  position: relative;
}

.selection {
  display: flex;
  display: none;
  gap: var(--gap);
}

.pin {
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.25);
  &.color0 {
    background-color: #66c5cc;
    border-color: #66c5cc;
  }
  &.color1 {
    background-color: teal;
    border-color: teal;
  }
  &.color2 {
    background-color: #f6cf71;
    border-color: #f6cf71;
  }
  &.color3 {
    background-color: #fe88b1;
    border-color: #fe88b1;
  }
  &.color4 {
    background-color: rgb(254, 52, 52);
    border-color: rgb(254, 52, 52);
  }
  &.color5 {
    background-color: #b497e7;
    border-color: #b497e7;
  }
  &.color6 {
    background-color: salmon;
    border-color: salmon;
  }
  &.color7 {
    background-color: rgb(74, 242, 186);
    border-color: rgb(74, 242, 186);
  }
  &.color8 {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
  }
  &.color9 {
    background-color: #87c55f;
    border-color: #87c55f;
  }
  &[data-state="empty"] {
    border: solid 2px rgb(203, 203, 203);
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
  }
  &[data-state="correct"],
  &[data-state="wrong-spot"],
  &[data-state="incorrect"] {
    border: solid 3px white;
    outline: solid 4px grey;
  }
  &[data-state="correct"] {
    outline-color: rgb(57, 218, 25);
  }
  &[data-state="wrong-spot"] {
    outline-color: darkorange;
  }
  &[data-state="incorrect"] {
    outline-color: rgb(237, 12, 12);
  }
  &.button,
  &.selected {
    border: 0;
    outline: 0;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  .button {
    cursor: pointer;
    &[data-state="disabled"] {
      pointer-events: none;
      background-color: gainsboro;
      box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
    }
  }
}

.attempts {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.attempt {
  display: flex;
  gap: var(--gap);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.foot {
  text-align: center;
  font-size: 32px;
  color: var(--background-color);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  font-weight: 900;
}

.game-over {
  position: absolute;
  inset: -5px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  text-align: center;

  .game-over-body {
    display: flex;
    pointer-events: none;
    flex-direction: column;
    gap: 10px;
  }
  
}

[data-gameover="true"] {
  opacity: 0.1;
}
