:root {
  --background-color: snow;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  padding: 10px;
  background-color: var(--background-color);
  font-family: sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
  gap: var(--board-gap);
}

.selection {
  display: flex;
  display: none;
  gap: var(--gap);
}

.pin {
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  box-sizing: border-box;
  border: solid 3px transparent;
  outline: solid 3px transparent;
  &.color0 {
    background-color: pink;
    border-color: pink;
  }
  &.color1 {
    background-color: blue;
    border-color: blue;
  }
  &.color2 {
    background-color: green;
    border-color: green;
  }
  &.color3 {
    background-color: orange;
    border-color: orange;
  }
  &.color4 {
    background-color: red;
    border-color: red;
  }
  &.color5 {
    background-color: crimson;
    border-color: crimson;
  }
  &.color6 {
    background-color: salmon;
    border-color: salmon;
  }
  &.color7 {
    background-color: chartreuse;
    border-color: chartreuse;
  }
  &.color8 {
    background-color: cyan;
    border-color: cyan;
  }
  &.color9 {
    background-color: magenta;
    border-color: magenta;
  }
  &.empty {
    border-color: grey;
  }
  &[data-state="correct"] {
    border-color: white;
    outline-color: rgb(57, 218, 25);
  }
  &[data-state="wrong-spot"] {
    border-color: white;
    outline-color: darkorange;
  }
  &[data-state="incorrect"] {
    border-color: white;
    outline-color: rgb(237, 12, 12);
  }
  &.button,
  &.selected {
    border: 0;
    outline: 0;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  .button {
    cursor: pointer;
    &[data-state="disabled"] {
      pointer-events: none;
      background-color: gainsboro;
    }
  }
}

.attempts {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.attempt {
  display: flex;
  gap: var(--gap);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.foot {
  text-align: center;
  font-size: 32px;
  color: var(--background-color);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  font-weight: bold;
}
